<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>Ticket Master 1</header>
        {% block body %}<img src="{{ asset('images/logo.png') }}" alt="Symfony!"/>{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>&copy;Jp Hayek 2016-{{ "now" |date("Y") }}</footer>
    </body>
</html>